

<link rel="stylesheet" href="/styles/main.css">
<nav class = "navbar">
    <ul class = "navlist">
        <li><a class = "navListItem" href="/">Home</a></li>
        <li><a class = "navListItem" href="/posts">All Posts</a></li>
        <li><a class = "navListItem" href="/newpost">Create Post</a></li>
        <li><a class = "navListItem" href="/editpost">Edit Post</a></li>
        <li><a class = "navListItem" href="/delete">Delete</a> </li>
        <li><a class = "navListItem" href="/about">About</a></li>
        
    </ul>
</nav>