<%- include("partials/header.ejs") %>

<main class="about-container">
    <div class="about-card">
        <h1>About the Author</h1>
        <p>Hello! I am Vishnu Teja, a Computer Science and Engineering student.</p>
        <p>I'm passionate about full-stack development, IoT, and sharing my coding journey. I built this entire Full-Stack CRUD blog from scratch using Node.js, Express, and MongoDB!</p>
        
        <div class="actionButtons">
            <a href="/posts" class="btn btn-primary">Read my Posts</a>
        </div>
    </div>
</main>

<%- include("partials/footer.ejs") %>